body{
 
   
    font-family: sans-serif;
    
}


.flex-button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.form-contacto{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.aside-proyecto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

