body{
    font-family: sans-serif;
}


.flex-button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.form-contacto{
    display: flex;
    justify-content: center;
    align-items: start;
}


.aside-proyecto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


/* Grid para la seccion de contactos */

@media (min-width: 992px){
    .grid-css{
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: auto auto;
    }   
    
}